# Python Basics

## Variables Declaration

## Bolean

In [1]:
True

True

In [2]:
False

False

In [3]:
name = True

In [4]:
name

True

In [5]:
age = False

In [7]:
print(age)

False

## Comaprison operator

In [9]:
1 == 1

True

In [10]:
1 <=2

True

In [11]:
2 >= 3

False

In [13]:
2 != 3

True

In [15]:
# ==
# <=
# >=
# !=

## Print Formatting with strings

In [21]:
print("August" + str(2021))

August2021

## % modulo character

In [23]:
print("Let me add %s here"%'a')

Let me add a here

In [24]:
print("I'm going to put %s text here, and %s text here."%('some','another'))

I'm going to put some text here, and another text here.

In [25]:
x = 'some'
y= 'another'

In [26]:
print("I'm going to put %s text here, and %s text here."%(x,y))

I'm going to put some text here, and another text here.

In [28]:
name = 'Victor'
phone_price = 600.789
number_of_phones = 2

In [32]:
print("Mr %s's new phone is valued at %.2f, and his phone tally is now %i"%(name,phone_price,number_of_phones))

Mr Victor's new phone is valued at 600.79, and his phone tally is now 2

## .Format()

In [38]:
print('let me add {0} here'.format('a'))

let me add a here

In [42]:
print('The {a} {b} {c}'.format(c='fox',b='brown',a='quick'))

The quick brown fox

In [44]:
print('A %s saved is a %s earned'%('penny','penny'))

A penny saved is a penny earned

In [47]:
print('A {a} saved is a {a} earned'.format(a='penny'))

A penny saved is a penny earned

## f-string

In [48]:
name = 'david'
print(f'He said his name is {name}')

He said his name is david

In [53]:
print(f"A {'penny'} saved is a {'penny'} earned")

A penny saved is a penny earned

## Modules and Libraries

In [54]:
import sys

In [55]:
sys.copyright

'Copyright (c) 2001-2020 Python Software Foundation.\nAll Rights Reserved.\n\nCopyright (c) 2000 BeOpen.com.\nAll Rights Reserved.\n\nCopyright (c) 1995-2001 Corporation for National Research Initiatives.\nAll Rights Reserved.\n\nCopyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.\nAll Rights Reserved.'

In [57]:
sys.implementation

namespace(name='cpython',
          cache_tag='cpython-38',
          version=sys.version_info(major=3, minor=8, micro=5, releaselevel='final', serial=0),
          hexversion=50857456)

In [58]:
sys.version

'3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]'

# Packages

In [ ]:
pip install pandas 
conda install pandas

In [ ]:
import pandas

Data Science: NumPy, pandas, SciPy, etc.
Graphics: matplotlib, plotly, seaborn, bokeh, etc.
Statistics: statmodels
Machine learning: Scikit-Learn, Keras, TensorFlow, Theano, etc.
Web scraping: Scrapy, pyQT, wxPython, etc.
GUI Toolkit: pyGtk, pyQT, wxPython, etc.
Web development: Django, web2py, Flask, Pyramid

In [59]:
import math

In [60]:
math.sqrt(16)

4.0

In [61]:
math.pi

3.141592653589793

In [62]:
math.floor(3.56)

3

## Selective importation

In [63]:
from math import sqrt

In [64]:
sqrt(16)

4.0

In [67]:
from math import gamma,sqrt,floor

In [66]:
gamma(3)

2.0

In [68]:
from math import *

In [69]:
gamma(5)

24.0

## Importing with alias

In [71]:
import math as m

In [72]:
m.sqrt(16)

4.0

In [73]:
import matplotlib as pyplot

## DATA STRUCTURE

In [76]:
name = 'Yemmy'
incubator_sudents = "Fiyin","Amos","Victor","Josiah"
incubator_sudents

('Fiyin', 'Amos', 'Victor', 'Josiah')

## List

In [79]:
lst =[]
type(lst)

list

In [80]:
lst =["Fiyin","Amos","Victor","Josiah"]
lst

['Fiyin', 'Amos', 'Victor', 'Josiah']

In [102]:
lst = ["yemmy",40,True,'Fiyin',90,False]
lst

['yemmy', 40, True, 'Fiyin', 90, False]

## Indexing and Slicing a list

yemmy 40 True Fiyin 90 True

0      1  2    3    4   5

In [98]:
lst[:4]

['yemmy', 40, True, 'Fiyin']

In [103]:
lst + ['segun']

['yemmy', 40, True, 'Fiyin', 90, False, 'segun']

In [104]:
lst * 2

['yemmy', 40, True, 'Fiyin', 90, False, 'yemmy', 40, True, 'Fiyin', 90, False]

## List Methods

In [116]:
zacrac = ['Spss','R','Power Bi','Excel']
zacrac

['Spss', 'R', 'Power Bi', 'Excel']

In [108]:
## properties of list
zacrac[0] = 'Python'

In [109]:
zacrac

['Python', 'R', 'Power Bi', 'Excel']

## Append method

In [112]:
zacrac.append('spss')
zacrac

['Python', 'R', 'Power Bi', 'Excel', 'spss']

In [113]:
zacrac.append('Matlab')

In [114]:
zacrac

['Python', 'R', 'Power Bi', 'Excel', 'spss', 'Matlab']

In [115]:
zacrac.append(['Tableau','Survey','Statistics'])
zacrac

['Python',
 'R',
 'Power Bi',
 'Excel',
 'spss',
 'Matlab',
 ['Tableau', 'Survey', 'Statistics']]

#### use .extend when you want to add content of a list to another list

In [117]:
zacrac.extend(['Tableau','Survey','Statistics'])

In [118]:
zacrac

['Spss', 'R', 'Power Bi', 'Excel', 'Tableau', 'Survey', 'Statistics']

### pop method

In [119]:
zacrac.pop()

'Statistics'

In [120]:
zacrac

['Spss', 'R', 'Power Bi', 'Excel', 'Tableau', 'Survey']

In [121]:
zacrac.pop(3)

'Excel'

In [122]:
zacrac

['Spss', 'R', 'Power Bi', 'Tableau', 'Survey']

In [123]:
zacrac.insert(2,'Excel')

In [124]:
zacrac

['Spss', 'R', 'Excel', 'Power Bi', 'Tableau', 'Survey']

In [125]:
zacrac.remove('Survey')

In [126]:
zacrac

['Spss', 'R', 'Excel', 'Power Bi', 'Tableau']

In [127]:
zacrac.index('R')

1

In [128]:
zacrac.count('Excel')

1

In [129]:
zacrac.sort()

In [131]:
zacrac.reverse()
zacrac

['Tableau', 'Spss', 'R', 'Power Bi', 'Excel']

## NESTED LIST

In [148]:
lst1 = [1,2,3]
lst2 =[4,5,6]
lst3 = [7,8,9]

In [149]:
nested_list= [lst1,lst2,lst3]
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [154]:
nested_list[2][2]

9

## Tuples

In [156]:
student_name = ("temmy", "sammy","jide")
student_nament_name

('temmy', 'sammy', 'jide')

In [158]:
type(student_name)

tuple

In [160]:
student_info = ("temmy",40,True,"jide",50,False,'kemi',100,False)

# Properties of a tuple

In [162]:
student_info[0] = "dammy"

TypeError: 'tuple' object does not support item assignment

In [166]:
student_info + ("shola",)

('temmy', 40, True, 'jide', 50, False, 'kemi', 100, False, 'shola')

In [167]:
t = (1,)*3

In [168]:
t

(1, 1, 1)

In [178]:
student_info[0:-2]

('temmy', 40, True, 'jide', 50, False, 'kemi')

In [179]:
student_info

('temmy', 40, True, 'jide', 50, False, 'kemi', 100, False)

In [181]:
student_info.index(40)

1

In [183]:
student_info.count(False)

2

In [188]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [190]:
t1 += 4,5,6
t1

(1, 2, 3, 4, 5, 6, 4, 5, 6)

### Unpacking tuples

In [192]:
t = (1,2,3,4)

In [194]:
w,x,y,z = t

In [198]:
t[3]

4

In [196]:
x

2

## Dictioanries

In [199]:
d = {}

In [200]:
type(d)

dict

In [201]:
d2 = dict()
type(d2)

dict

In [207]:
dict1 = {'Key1':'value1', 'Key2':'value2'}
dict1

{'Key1': 'value1', 'Key2': 'value2'}

In [209]:
dict1['Key2']

'value2'

In [212]:
dict1 = {1:'value1', 2:True}
dict1[1]

'value1'

In [213]:
same_keys = {'brand':'google',
            "brand":'zacrac'}

In [214]:
same_keys

{'brand': 'zacrac'}

In [215]:
dict1 = {'key1':[1,2,3],
        'key2':('temmy','john','shola')}

In [225]:
len(dict1)

2

In [220]:
dict1['key2'][1]

'john'

In [221]:
d = { }

In [222]:
d['name'] = 'yemmy'

In [223]:
d

{'name': 'yemmy'}

## methods of dictironaries

In [226]:
dict1.items()

dict_items([('key1', [1, 2, 3]), ('key2', ('temmy', 'john', 'shola'))])

In [227]:
dict1.keys()

dict_keys(['key1', 'key2'])

In [228]:
dict1.values()

dict_values([[1, 2, 3], ('temmy', 'john', 'shola')])

In [230]:
dict1.pop('key1')

[1, 2, 3]

In [232]:
new_dict =dict1.copy()

In [233]:
new_dict

{'key2': ('temmy', 'john', 'shola')}

In [234]:
dict1

{'key2': ('temmy', 'john', 'shola')}

In [235]:
dict1.clear()

In [236]:
dict1

{}

In [237]:
## .update
brand1 = {'GGL':'Google'}
brand2 ={'NFLX':'Netflix'}

In [238]:
brand1.update(brand2)

In [239]:
brand1

{'GGL': 'Google', 'NFLX': 'Netflix'}

In [242]:
new_brand={}
new_brand.update(brand1)
new_brand.update(brand2)

In [243]:
new_brand

{'GGL': 'Google', 'NFLX': 'Netflix'}

In [244]:
## Nested dictionary

In [245]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [248]:
d['key1']['nestkey']

{'subnestkey': 'value'}

## Set

In [252]:
company = {'Apple',"Microsoft","Netflix","Apple"}
company

{'Apple', 'Microsoft', 'Netflix'}

In [255]:
company.add('Zacrac')

In [256]:
company

{'Apple', 'Microsoft', 'Netflix', 'Zacrac'}

In [260]:
company.add('Zacrac')

In [261]:
company

{'Apple', 'Microsoft', 'Netflix', 'Zacrac', 'zacrac'}

In [263]:
len(company)

5

In [265]:
company.discard('zacrac')

In [266]:
company

{'Apple', 'Microsoft', 'Netflix', 'Zacrac'}

In [267]:
set1 = {1,2,3,4}
set2 = {10,20,30}

In [268]:
new_set = set1.union(set2)

In [269]:
new_set

{1, 2, 3, 4, 10, 20, 30}

In [270]:
new_set.intersection(set1)

{1, 2, 3, 4}

In [271]:
new_set.difference(set1)

{10, 20, 30}

# Files

In [273]:
%%writefile test1.txt
Hello, this is incubator classsss!!!!

Writing test1.txt

## Python Openeing a file

In [278]:
myfile = open('test1.txt')

In [279]:
myfile.read()

'Hello, this is incubator classsss!!!!\n'

In [280]:
myfile.read()

''

In [282]:
myfile.seek(0)

0

In [283]:
myfile.read()

'Hello, this is incubator classsss!!!!\n'

In [286]:
myfile.seek(0)
myfile.readlines()

['Hello, this is incubator classsss!!!!\n']

In [288]:
myfile.close()

## Writiing to a file

In [289]:
my_file = open('test1.txt','w+')

In [290]:
my_file.write('This is a fresh begining')

24

In [292]:
my_file.seek(0)
my_file.read()

'This is a fresh begining'

In [294]:
my_file.close()

## Appending to a file

In [295]:
my_file = open('test2.txt','a+')

In [296]:
my_file.write('\nThis is a text being appebded to this file ')
my_file.write('\n and another line included ')

28

In [298]:
my_file.seek(0)
print(my_file.read())

This is a text being appebded to this file
 and another line included

In [299]:
my_file.close()

## %%writefile

In [300]:
%%writefile -a test3.txt
This is a new text file 
therefore, i can write on ot anyhow

Writing test3.txt

In [301]:
myfile = open('test3.txt')

In [304]:
myfile.seek(0)
print(myfile.read())

This is a new text file
therefore, i can write on ot anyhow

In [305]:
## Python Key words and Operators

In [306]:
#and
(1 ==1) and (2==2)

True

In [308]:
#or
(1==1) or (2>=3)

True

In [309]:
# as
import math as m

In [316]:
#assert
company = "zacrac"

In [317]:
#to check if this condition is true
assert company == "zacrac"

In [318]:
## class
class course():
    name = 'Python'
    price = '500.5'

In [319]:
s1 = course()

In [321]:
s1.name

'Python'

In [335]:
name

'Yemmy'

In [322]:
s1.price

'500.5'

In [323]:
#def 
def func():
    print('helloo')

In [324]:
func()

helloo

In [325]:
# del 
a ='Hello'
del(a)

In [327]:
lst= ['a','b','c','d']

In [328]:
del lst[1:3]

In [329]:
lst

['a', 'd']

In [333]:
#try and except 
try:
    u > 10
except:
    print('something is wrong: tell me that u is not found')

something is wrong: tell me that u is not found

In [334]:
#Finally
try:
    u > 10
except:
    print('something is wrong: tell me that u is not found')
finally:
    print('The try...except code is done')

something is wrong: tell me that u is not found
The try...except code is done

In [339]:
# Global 
company = 'zacrac'
def course():
    global company
    company = 'google'

In [341]:
course()

In [342]:
print(company)

google

In [345]:
# in 
softwares = ['Python','Java','R']
"Python" in softwares

True

In [348]:
# is
softwares = ['Python','Java','R']
x = softwares[0]

In [349]:
softwares is x

False

In [350]:
#lamda
addtion = lambda x,y : x+y

In [352]:
addtion(5,2)

7

In [353]:
# None
x = None
type(x)

NoneType

In [354]:
#not
buy = False
not buy

True

In [366]:
# Pass
def empty_function():
    pass
empty_fuction()

NameError: name 'empty_fuction' is not defined

In [368]:
#raise
x = 'Python'

if not type(x) is int:
    raise NameError("name 'empty_fuction' is not defined")

NameError: name 'empty_fuction' is not defined

## Operators

In [369]:
## Arithmetic operator

In [370]:
5-3

2

In [371]:
5*3

15

In [372]:
4/5

0.8

In [373]:
5//4

1

In [374]:
5%3

2

In [375]:
5**3

125

In [376]:
#Comparison operator

In [377]:
# ==
# >
# <
# <=
# >=
# !=

In [378]:
## Logical operators

In [379]:
2==2 and 4 < 5

True

In [380]:
6 <5 or 5==4

False

In [381]:
not 3==3

False

In [382]:
##Assignment operator

In [385]:
a = 2
b = 3

In [386]:
a,b = 2,3

In [387]:
a +=2

In [388]:
a= a+2

4

In [389]:
a-=2

In [390]:
a

2

In [391]:
a *= 3

In [392]:
a

6

In [393]:
a/=3

In [394]:
a

2.0

In [397]:
(a+=2,b+2)

(4.0, 5)

In [398]:
a //= 2

In [399]:
a

1.0

In [400]:
a **= 2

In [401]:
a

1.0

In [406]:
a = 2 
a |= 1

In [407]:
a

3

## Membership operators

In [408]:
lst = ['yam','fruit','veg']

In [410]:
'yam' in lst

True

In [411]:
##Identity Operator
a = 3
b = a

In [412]:
a is b

True

In [413]:
y = 3

In [414]:
y is a

True

In [415]:
id(y)

140723365291872

In [416]:
id(a)

140723365291872

In [417]:
x = 4

In [418]:
id(x)

140723365291904

In [419]:
x is a

False

# Functions

In [1]:
def my_func():
    print('Hello World')

In [2]:
my_func()

Hello World

In [3]:
def greeting(name):
    '''
    This function attach hello to your input
    '''
    print(f'Hello {name}')

In [6]:
greeting('tolu')

Hello tolu

# funtions with multiple parameter or argument

In [7]:
def add_num(num1, num2):
    return num1+num2

In [9]:
add_num(1,2)

3

In [13]:
def print_result(a,b):
    print(a+b)
    
def return_result(a,b):
    return a+b

In [14]:
print_result(5,6)
return_result(5,6)

11

11

In [12]:
my_res1 = print_result(5,6)
my_res2 = return_result(5,6)

11

In [16]:
my_res1

In [17]:
my_res2

11

In [18]:
def upper_lower(x):
    '''
    Returns the upper and lower version of a string
    '''
    upper = x.upper()
    lower = x.lower()
    
    return upper, lower

In [19]:
upper_lower('HodGe')

('HODGE', 'hodge')

# functions with default argument

In [20]:
pow(4, 2)

16

In [21]:
def square_number(num, pow=2):
    return num**pow

In [22]:
square_number(4)

16

### example; functions to check if a list of number to print out even number alone

In [50]:
def even_number(numbers):
    for i in numbers:
        if i%2==0:
            print(i)
    
def even_number(numbers):
    '''List comprehension'''
    even=[i for i in num if 1%2==0]
    return even

In [47]:
lol = [1,2,3,4]

In [48]:
even_number(lol)

2

## classwork

write a function that computes the mean of array of numbers

In [75]:
def mean_calculation(num):
    x = sum(num)/len(num)
    return x

In [76]:
num = [1,2,3,4]

In [77]:
sum(num)

10

In [79]:
mean_calculation(num)

2.5

In [84]:
def mean_cal(num):
    count = 0
    for i in range(1,5):
        count = count + i
        mean = count/len(num)
    return mean

In [85]:
mean_cal(num)

2.5

In [92]:
def mean(num):
    #avg = [sum(num)/len(num) for i in num ]
    avg = sum([i for i in num])/len(num)
    return avg

In [93]:
mean(num)

2.5

# nested function

In [94]:
def outer():
    '''
    This is the enclosing function 
    '''
    def inner():
        '''
        This is the inner function 
        '''
        print('Got printed from the inner_nested')
    print('Got printed from the outer')
    '''Always initate the inner function before leaving the mother fucntion'''
    inner()

In [95]:
outer(
)

Got printed from the outer
Got printed from the inner_nested

### global and locAL VARIABLES

In [102]:
def outerr(a):
    number = a
    def innerr():
        nonlocal number
        number = number ** 2
        print('sqaure number= ', number)
    print('number1= ', number)
    innerr()
    print('number2= ', number)

In [103]:
outerr(3)

number1=  3
sqaure number=  9
number2=  9

# Lamda expression, Map and Filter

## Map

In [106]:
num

[1, 2, 3, 4]

In [124]:
def sqr(lst):
    for i in lst:
        x = i**2
        print(x)

In [127]:
sqr(num)

1
4
9
16

In [122]:
def sqr2(num):
    return num**2

In [123]:
list(map(sqr2, num))

[1, 4, 9, 16]

In [135]:
names1=['segun', 'sayo','gab','tols','goh']

In [129]:
def check(x):
    out = x.startswith('s')
    return out

In [130]:
list(map(check, names))

[True, True, False, False, False]

In [ ]:
names = ['john', 'caro', 'gabriel', 'mike']

In [132]:
def len_even(nam):
    '''
    This function returns even for an even character length and return the frst letter if the character is not even
    '''
    if len(nam)%2==0:
        return 'Even'
    else:
        return nam[0]

In [134]:
list(map(len_even, names))

['s', 'Even', 'g', 'Even', 'g']

In [136]:
for i in names1:
    if i.startswith('s'):
        print(i)

segun
sayo

## Filter code simplicity

In [140]:
def check2(srts):
    return srts.startswith('s')

In [141]:
list(filter(check2, names1))

['segun', 'sayo']

#### you can also call a function as an attribute in a filter

In [142]:
def check_even(num):
    return num%2 == 0

In [143]:
lists = [1,2,3,4,5,6,7]

In [144]:
list(filter(check_even, lists))

[2, 4, 6]

## Lambda expression

In [146]:
def sqrt_num(num):return num**2

In [147]:
sqrt_num(2)

4

In [148]:
sqr1 = lambda num:num**2

In [149]:
sqr1(4)

16

In [153]:
list(map(lambda lists:lists**2, lists))

[1, 4, 9, 16, 25, 36, 49]

In [158]:
list(map(lambda x: x%2!=0, lists))

[True, False, True, False, True, False, True]

In [159]:
list(filter(lambda x: x%2!=0, lists))

[1, 3, 5, 7]

In [172]:
string=lambda s:s[::-1]==s #::-1 revserses the index and arangement of any string attached to it

In [178]:
#palindrome means if the strings retains its meaning if reveresed

def palidrome(string):
    if string[::-1]==string:
        return "palindrome"
    else:
        return "not palidrome"

In [171]:
palidrome('day')

'not palidrome'

In [173]:
lst = ['dad','day','mom']

In [174]:
list(map(lambda s:s[::-1]==s, lst))

[True, False, True]

In [175]:
list(filter(lambda s:s[::-1]==s, lst))

['dad', 'mom']

In [184]:
def palidrome1(string):
    for i in string:
        if i[::-1]==i:
            print(i)

In [186]:
def palidrome2(string):
    lts = [i for i in string if i[::-1]==i]
    return lts

In [1]:
palidrome2(lst)

NameError: name 'palidrome2' is not defined